{{ ansible_managed | comment }}

local_events = {{ auditd_local_events }}
log_file = {{ auditd_log_file }}
write_logs = {{ auditd_write_logs }}
log_format = {{ auditd_log_format }}
log_group = {{ auditd_log_group }}
priority_boost = {{ auditd_priority_boost }}
flush = {{ auditd_flush }}
freq = {{ auditd_freq }}
num_logs = {{ auditd_num_logs }}
name_format = {{ auditd_name_format }}
disp_qos = {{ auditd_disp_qos }}
dispatcher = {{ auditd_dispatcher }}
max_log_file = {{ auditd_max_log_file }}
max_log_file_action = {{ auditd_max_log_file_action }}
verify_email = {{ auditd_verify_email }}
action_mail_acct = {{ auditd_action_mail_acct }}
space_left = {{ auditd_space_left }}
space_left_action = {{ auditd_space_left_action }}
admin_space_left = {{ auditd_admin_space_left }}
admin_space_left_action = {{ auditd_admin_space_left_action }}
disk_full_action = {{ auditd_disk_full_action }}
disk_error_action = {{ auditd_disk_error_action }}
use_libwrap = {{ auditd_use_libwrap }}
tcp_listen_queue = {{ auditd_tcp_listen_queue }}
tcp_max_per_addr = {{ auditd_tcp_max_per_addr }}
tcp_client_max_idle = {{ auditd_tcp_client_max_idle }}
transport = {{ auditd_transport }}
enable_krb5 = {{ auditd_enable_krb5 }}
krb5_principal = {{ auditd_krb5_principal }}
distribute_network = {{ auditd_distribute_network }}
q_depth = {{ auditd_q_depth }}
overflow_action = {{ auditd_overflow_action }}
max_restarts = {{ auditd_max_restarts }}
plugin_dir = {{ auditd_plugin_dir }}

